/* src/style.css */
:root {
  --jet: #333333;
  --snow: #fffafbff;
  --dark-gray: #242424;
  --light-gray: #424242;
  --red: #F2394B;
  --orange: #F67450;
  --yellow-orange: #F0C640;
  --yellow: #F7F026;
  --green: #67CF3A;
  --blue: #1772E7;

}

@font-face {
  font-family: 'Frutiger';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/Frutiger.woff') format('woff');
}


@font-face {
  font-family: 'Frutiger Bold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/Frutiger_bold.woff') format('woff');
}

/* src/style.css */
html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Frutiger', sans-serif;
}
